/* ProfileModal.css */
.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
  }
  
  .modal-container h3 {
    margin-bottom: 10px;
  }
  
  .modal-container p {
    font-size: 16px;
  }
  